@font-face {
  font-family: "Helvetica Neue";
  src: url('./Fonts/HelveticaNeue-UltraLight.otf') format('opentype');
  font-style: 'normal';
}

:root{
  --greenBtnColor: rgba(55, 94, 3, 0.6);
  --greenBtnText: #4FC53D;
  --redBtnColor: rgba(144, 9, 9, 0.6);
  --lightGreyBtnColor: rgba(166, 166, 166, 0.6);
  --darkGreyBtnColor: rgba(48, 48, 48, 0.6);
  --blackColor: black;
  --whitecolor: white;
}


body, .App {
  text-align: center;
  background-color: var(--blackColor);
  color: var(--whitecolor);
  font-family: "Helvetica Neue";
}
.btn, .startTimer, .stopTimer{
  font-weight: 300;
  text-align: center;
  height: 22vw;
  width: 22vw;
  font-size: 6vw;
  border-radius: 50%;
  border: solid 2px var(--blackColor);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.startTimer {
  color: var(--greenBtnText);
  background-color: var(--greenBtnColor);
  box-shadow: 0px 0px 0px 2px var(--greenBtnColor);
}

.stopTimer {
  color: red;
  background-color: var(--redBtnColor);
  box-shadow: 0px 0px 0px 2px var(--redBtnColor);
}
.startTimer, .stopTimer {
  float: right;
  margin-right: 10vw;
}
.lapBtn, .resetBtn{
  float: left;
  margin-left: 10vw;
}
.btnContainer{
  height: 30vw;
  position: static;
}

.lapBtn{
  color: var(--whitecolor);
  background-color:var(--lightGreyBtnColor);
  box-shadow: 0px 0px 0px 2px var(--lightGreyBtnColor);
}
button:disabled{
  color: rgba(166, 166, 166, 1);
  background-color: var(--darkGreyBtnColor);
  box-shadow: 0px 0px 0px 2px var(--darkGreyBtnColor);
}

.resetBtn{
  color: var(--whitecolor);
  background-color:var(--lightGreyBtnColor);
  box-shadow: 0px 0px 0px 2px var(--lightGreyBtnColor);
}
.timer{
  font-size: 10vw;
  font-weight: 300;
  font-size: 22vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
  text-align: center;
}
.timerContainer{
  width: 100%;
  height: 50%;
}
.lapContainer{
  font-size: 3vw;
  font-weight: 400;
  color: var(--whitecolor);
  text-align: center;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: scroll;
}
h3{
  font-size: 1.25em
}
ul{
  margin-left: 7vw;
  margin-right: 7vw;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
li {
  display: flex;
  border-top: solid 0.7px var(--lightGreyBtnColor);
  list-style: none
}
.lapNo{
  float: left;
  display: flex;
  margin-left: 4vw;
  }
  .lapStopTime {
  margin-left: 52vw;
  display: flex;
  margin-right: 4vw;
  }